tbody > tr:nth-child(odd) {
    background-color: #fff0c7;
}

.content_td p {
  max-height: 100px; /* Adjust as needed */
  overflow-y: auto;
}

img {
  width: 100%;
  height: auto;
  object-fit: scale-down;
}